@font-face {
    font-family: 'Bovine MVB';
    src: url('/fonts/fonnts.com-Bovine_MVB_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

/* prevents default blue link colour */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}